############
# LiveKit Configuration
############
LIVEKIT_API_KEY=fhS4ph29yWszyo
LIVEKIT_API_SECRET=fq7M93nLDnGufmtbwJ9KYyHya3SNsWrx
LIVEKIT_API_KEY_WITH_SPACE="fhS4ph29yWszyo fq7M93nLDnGufmtbwJ9KYyHya3SNsWrx"

LIVEKIT_PORT=7880
LIVEKIT_REDIS_ADDRESS=livekit-redis:6379
LIVEKIT_LOG_LEVEL=info
LIVEKIT_ROOM_MAX_PARTICIPANTS=50
LIVEKIT_ROOM_EMPTY_TIMEOUT=300
LIVEKIT_RTC_MIN_PORT=7881
LIVEKIT_RTC_MAX_PORT=7888
LIVEKIT_TURN_PORT=3478

############
# LiveKit Redis settings
############
LIVEKIT_REDIS_USERNAME=livekituser
LIVEKIT_REDIS_PASSWORD=pK8Lw5bXnD3eQrA7vF2jS9zY1mH6gT4c 